body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-track {
    width: .8rem
}

body::-webkit-scrollbar-track {
    border-radius: 100rem;
    background-color: #ddd
}

body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    cursor: pointer
}

@font-face {
    font-family: fontMedium;
    src: url(../../font/Arad-MediumDots2.woff2);
}

@font-face {
    font-family: fontRegular;
    src: url(../../font/Arad-RegularDots2.woff2);
}

@font-face {
    font-family: fontSemibold;
    src: url(../../font/Arad-SemiBoldDots2.woff2);
}

:root {
    --light-green: #c2ffbd;
    --light-purple: #ab9aff;
    --purple: #7f56d9;
    --gray: #64748B;
    --black: #111111;
    --milky: #F3F3F3;
    --white: #FFFFFF;
    --yellow: #FBC02D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fontMedium;
    font-feature-settings: "ss01" !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: fontMedium;
    background: var(--milky);
}


/* main */
main {
    margin-right: 0;
    padding: 15px;
}

.items-container {
    background: var(--white);
    border-radius: 26px;
}

.arc-title h4 {
    font-weight: bold;
}

.arc-title {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1.5rem;
}

.arc-order {
    overflow-x: scroll ;
}

tbody tr th,
td {
    border: none;
    color: #64748B;
    font-weight: 200;
    font-size: 14px;
    white-space: nowrap;
}

.btn-show-details {
    background: #71FF65;
    padding: 5px 20px;
    border-radius: 8px;
    color: var(--black);
    text-decoration: none;
}

.btn-show-details:hover {
    color: var(--black);
}

/* main */
/* sidebar */
.active-link svg path {
    stroke: var(--light-purple) !important;
}

.active-link span {
    color: var(--light-purple) !important;
}

/* sidebar */

/* media */
@media (min-width: 1200px) {
    main {
        margin-right: 370px !important;
    }
}

@media (min-width: 991px) {}

@media (min-width: 768px) {
    main {
        margin-right: 120px;
        padding: 15px 0 15px 15px;
    }
    .arc-order {
        overflow-x: hidden !important;
    }
}

@media (min-width: 576px) {}

/* media */
